body {
 
    margin: auto;
   
    background-color: rgb(255, 255, 255);
   
    background-image: url(https://terkep-center.hu/img/5747/673660_karpat_medence_faliterkep_altpic_1/673660_karpat_medence_faliterkep.jpg?time=1710950568);
   
    background-size: cover;
   
    font-family: Arial, sans-serif;
  }
   
  header {
    text-transform: uppercase;
   
    border-radius: 70px;
   
    text-align: center;
   
    padding: 20px;
   
    font-size: 1em;
  }
   
  header h1 {
    color: blue;
    text-decoration: underline;
  }
   
  h2 {
      color: green;
    }
   
  p {
      color: red
   
  }
  h3 {
      color:brown
  }
   
   
  nav {
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
   
  article {
    display: grid;
    gap: 20px;
    border-radius: 10px;
   
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
   
  img {
    width: 100%;
  }
   
  #Duna {
    background-color: rgb(0, 247, 255);
   
    border: 3px solid rgb(255, 44, 44);
  }
   
  #Tisza {
    background-color: rgb(0, 247, 255);
   
    border: 3px solid rgb(255, 76, 76);
  }
   
  #Rába {
    background-color: rgb(0, 247, 255);
   
    border: 3px solid rgb(255, 73, 73);
  }
   
  #Zagyva {
    background-color: rgb(0, 247, 255);
   
    border: 3px solid rgb(255, 75, 75);
  }
   
  @media screen and (max-width: 850px) {
      .columns {
          grid-template-columns: 1fr 1fr 1fr;
      }
      #Duna {
          max-width: 25vw;
      }
      #Tisza {
          max-width: 25vw;
      }
      #Rába {
          max-width: 25vw;
      }
      #Zagyva {
          max-width: 25vw;
      }
     
  }
   
  @media screen and (max-width: 600px) {
      .columns {
          grid-template-columns: 1fr 1fr;
      }
      #Duna {
          max-width: 40vw;
      }
      #Tisza {
          max-width: 40vw;
      }
      #Rába {
          max-width: 40vw;
      }
      #Zagyva {
          max-width: 40vw;
      }
     
  }
   
  @media screen and (max-width: 500px) {
      .columns {
          grid-template-columns: 1fr;
      }
      #duna {
          max-width: 80vw;
      }
      #Tisza {
          max-width: 80vw;
      }
      #Rába {
          max-width: 80vw;
      }
      #Zagyva {
          max-width: 80vw;
      }
    }